* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.game {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: black;
}

.menuButton,
.diffSelect,
.gridSelect,
.styleSelectUser,
.styleSelectBot {
    width: 140px;
    padding: 10px 15px;
    font-size: 1.3rem;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 4px 1px pink, 0 0 20px 1px rgb(240, 202, 208);
    border: none;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
}

.menuButton:hover,
.diffSelect:hover,
.gridSelect:hover,
.styleSelectUser:hover,
.styleSelectBot:hover {
    background: pink;
    box-shadow: 0 0 18px 1px pink, 0 0 30px 1px rgb(240, 202, 208);
    color: black;
}

.styleSelectUser::before {
    content: 'User: ';
    display: inline-block;
    position: absolute;
    color: white;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

button {
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #fff;
    font-size: 2rem;
}

button:hover {
    background-color: rgb(240, 202, 208);
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(34, 36, 34, 0.788);
    backdrop-filter: blur(10px);
}

.modal--text {
    color: #fff;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box {
    display: flex;
    gap: 20px;
}

.on {
    background-color: rgb(240, 202, 208);
}

.off {
    background-color: rgba(0, 0, 0, 0.3);
}